body{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
}
header {
	height:10%;
	/*background: url("images/friz3.png");/* no-repeat top center;*/
	background:rgb(129,218,205);
	margin: 5px;
	padding:5px;
}

footer{
	height:10%;
	background:rgb(129,218,205);
	/*background: #ffffff url("images/friz2.png") no-repeat top center;*/
	margin:  0px;
	padding: 0px;
}

h1{margin: 5px;
	padding: 10px;
	font-family: Cambria,  sans-serif;
	font-style: italic;
    font-size:55px;
	letter-spacing: 0.02em;
	color:  rgb(41, 90, 109);

}
h2,
p,
nav {
	height:10%;
	margin: 5px;
	padding: 10px;
	color: black;
}
aside{
	height:10%;
	background:rgb(173, 216, 210);
	margin: 5px;
	padding:5px;
	align-self:initial;
}

header,
nav	{
	align-self:initial;
	/*background-color: rgb(129,218,205);*/
}
main{
	height:80%;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:auto;
	align-items:baseline;
	align-content:space-between;
}
div {
	flex-basis:40%;
	margin: 10px;
	padding:10px;
}

figure {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
  }
  
  figure img {
	vertical-align: middle;
    text-align: center;
	border: 8px solid rgb(202, 202, 202);
  }
  
  figcaption {
	flex-basis:40%;
	padding-bottom: 8px;
	font-size: 20px;
	letter-spacing: 0.02em;
	font-style: italic;
	text-align: center;
	background-color: rgb(255, 255, 255);
  }
  .pagination a {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 15px;
  }
  

  .pagination,
  nav {
	text-align: center;
	 }
 
  a {
	color:  rgb(41, 90, 109);
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	margin: 5px;
  }
  .otext  {
	margin: 5px;
	padding: 10px;
	font-family: Verdana, sans-serif;
    font-size: 22px;
	letter-spacing: 0.02em;
	color:  rgb(41, 90, 109);
 }